.top-bar{
    height: 30px;
    background-color: #2a3e41;
    width: 100%;
}
.top-bar .icoin{
    display: flex;
    justify-content: flex-end;
    max-width: 1170px;
    align-items: center;
    height: 30px;
    margin: 0 auto;
}
p{  
    color: #979292;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    margin-bottom: 0;
}
.fa{
    padding-left: 20px;
    color: gray;
}
.fa:hover{
    color: white;
}
.header{
    height: 150px;
    background-color: #557c83;
    width: 100%;    
    align-items: center;
}
.khung{
    max-width: 1170px;
    align-items: center;
    margin: 0 auto;
    /* border: 1px solid red; */
    display: flex;
    height: 150px;
    justify-content: flex-end;
    
}
.logo{
    flex: 1;
}
.banner{
    flex: 2;
    width: 730px;
    height: 90px;
    /* border: 1px solid blue; */
}
.banner img{
    width: 100%;
}
.MENU{
    height: 64px;
    border-bottom: 1px solid #cccccc;
    width: 100%;
    align-items: center; 
        
}
.menu-list{
    max-width: 1170px;
    height: 64px;
    /* border:1px solid red; */
    align-items: center;
    margin: 0 auto;
    display: flex;
    color: #557c83;
    list-style-type: none;
    
}
.menu-list a{
    display: inline-block;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    margin-left: 30px;
    color: #557c83;
    text-decoration: none;
}
.menu-list a:hover{
    color: green;
}
.menu-list i{
    color: #006666;
    position: absolute;
    right: 376px;

}
.menu-list i:hover{
    color: red;
}
.line{
    max-width: 1170px;
    align-items: center;
    margin: 0 auto;
    /* border: 1px solid red; */
    display: flex;
    height: 50px;   
}
.line p{
    color: #979292;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}
.header-line{
    height: 50px;
    width: 100%;
}
.line{
    /* border:1px solid red; */
    justify-content: space-between;
}
.first-row{
    max-width: 1170px;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    margin:0 auto;
    position: relative;
    max-height: 595px;
    border-bottom: 1px solid #cccccc;
}
.new-item{
    display: flex;
}
.new img{
    height: 100px;
    width: 100%;
}
.new{
    width: 170px;
    margin-right: 30px;
}
.center-row{
    margin-left: 25px;
    max-height: 595px;
    /* border-left: 1px solid #cccccc; */
}
.center-row p{
    margin-top: 20px;
    color: #979292;
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
    max-height: 490px;
    
}
.right-row{
    margin-left: 25px;
    max-width: 370px;
}
.right-row img{
    height: 562px;
}
.left-row p{
    color: #979292;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;    
}
#indam{
    color: black;
    margin-bottom: 0;
}
.left-row::after{
    content: "";
    width: 1px;
    height: 560px;
    position: absolute;
    top: 0;
    right: 48.5%;
    background-color: #cccccc;
}
.title-picture{
    max-width: 1170px;
    margin: 0 auto;
    height: 50px;
}
.title-picture h3{
    color: black;
    font-family: 'Roboto', sans-serif;
    font-size: 19px;
}
a{
    text-decoration-line: none;
}
.group-6 img{
    width: 170px;
    height: 100px;
}
.group-6-left{
    display: flex;
    border-bottom: 1px solid #cccccc;
    position: relative;
}
.group-6-left img{
    width: 170px;
    height: 100px;
}
.anh-picture{
    max-width: 170px;
    margin-right: 30px;
}
.group-6{
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
}
.group-6 p{
    color: #979292;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;    
}
.group-6-right{
    display: flex;
    border-bottom: 1px solid #cccccc;
}
.border-white{
    background-color: white;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 30px;
    height: 3px;
    transform: translateY(50%);
}
.feature-new{
    max-width: 1170px;
    margin: 10px auto;
    display: flex;
    max-height: 315px;
}
.feature-right{
    flex: 1;
    margin-top: -20px;
    transform: translateX(15px);
    border-bottom: 1px solid #cccccc;
}
.feature-left{
    flex: 2; 
    margin-right: 30px;
    border-bottom: 1px solid #cccccc;
}
.title-feature-new-left{
    display: flex;
    justify-content: space-between;
    max-height: 50px;
    position: relative;  
    margin-right: 30px; 
}
.title-feature-new-left a{
    position: absolute;
    top: 0;
    right: 0;
}
.tin-feature-left{
    display: flex;
    margin: 0 auto;
    width: 400px;
}
.tin-feature-left p{
    font-size: 11px;
}
.tin-feature-left img{
    width: 200px;
    height: 128px;
}
.main-feature-new-left{
    display: flex;
    padding-right: 30px;
}
.small-feature-left{
    display: flex;
}
/* .small-feature-left li{
    margin-top: 0px;
} */
.list-left{
    flex: 1;
    border-left: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
}
.small-feature-left p{
    font-size: 12px;
}
.list-right{
    flex: 1;
}
.title-right{
    max-height: 50px;
}
#thuhep{
    margin-bottom: 0;
}
.five-six-row{
    display: flex;
    max-width: 1170px;
    margin: 0 auto;
}
.five-six-row-right{
    max-width: 370px;
    flex: 1;
}
.five-six-row-left{
    flex: 2;
    /* padding-right: 0px; */
}
.main-5-row{
    display: flex;
}
.small-5-row img{
    width: 170px;
    height: 100px;
}
.small-left-5{
    max-width: 170px;
    margin-right: 30px;
}
.right-5-row{
    display: flex;
}
.small-right-5{
    max-width: 170px;
}
.left-5-row {
    margin-right: 30px;
}
.five-row{
    border-bottom: 1px solid #cccccc;
}
#danhsach{
    margin-right: 30px;
    border-left: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
}
.six-row{
    border-bottom: 1px solid #cccccc;
}
#cachletren{
    margin-top: 15px;
}
.nav-item{
    font-size: 14px;
}
.list-list{
    display: flex;
    /* border: 1px solid red; */
    /* background-color: green; */
    max-width: 370px;
    border-left: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
}
.number-list{
    font-size: 30px;
    padding: 0 8px;
}
#home{
    padding: 0;
    margin-top: -25px;
}
.container{
    padding-left: 0;
}
.seven-row{
    display: flex;
    margin: 0 auto;
}
.col-7{
    max-width: 370px;
    border: 1px solid #cccccc;
    margin-left: 15px;
    margin-right: 15px;
}
#satlephai{
    margin-right: 0;
}
.main-col-7 img{
    max-width: 100%;
}
.danhsach7{
    padding-left: 0;
    list-style: none;
}
.danhsach7 li{
    border-top: 1px solid #cccccc;
}
.ads4{
    max-width: 1170px;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
}
.ads4 img{
    width: 100%;
}
.fotter{
    height: 460px;
    background-color: #557c83;
}
.bottom-bar{
    height: 100px;
    background-color: #2a3e41;
    justify-content: flex-start;
}
.noidung-bot{
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
}
span{
    color: #3aafa9;
}
.list-ft{
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    max-width: 370px;
    /* font-size: 20px; */
}
.a{
    padding-top: 15px;
    padding-bottom: 15px;
}
#ogiua{
    border-top: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
}
.pre-view{
    display: flex;
    max-width: 1170px;
    margin: 0 auto;
    /* border: 1px solid red; */
    height: 100%;
    align-items: center;
    color: white;
}
.col-ft{
    width: 100%;
    margin-right: 30px;
}
#fontwhite{
    color: white;
}
#fontwhite:hover{
    color: #3aafa9;
}
#ogiua1{
    margin-top: 0;
    border-top: 1px solid #cccccc;
}
#see-more{
    margin-top: 0;
    color: green;
}
#end{
    margin-top: -15px;
    padding-top: 0;
}
.title-fot{
    position: relative;
    /* border: 2px solid red; */
}
.bordergreen{
    width: 70px;
    height: 5px;
    background-color: #4ce5de;
    position: absolute;
    bottom: 0;
    transform: translateY(10px);
}