* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: 0;
}

body {
  background-color: #e5e5e5;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Exo 2', sans-serif;
}

.form {
  width: 660px;
  background-color: #fbfbfb;
  text-align: center;
  padding: 130px 130px;
  border-radius: 20px;
  box-shadow: 1px 1px 3px #d6d6d6;
}

.logo {
  margin-bottom: 30px;
}

.title {
  font-size: 26px;
  color: #909090;
  text-transform: uppercase;
  margin-bottom: 10px;
}

input {
  width: 100%;
  height: 45px;
  padding: 0 15px;
  background-color: #f4f4f4;
  border: none;
  border-radius: 8px;
  margin-bottom: 15px;
  outline: 0;
  font-family: 'Exo 2', sans-serif;
  font-size: 18px;
}

.btn-login {
  width: 100%;
  height: 48px;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  background-color: #d72022;
  font-weight: 700;
  font-size: 18px;
  border-radius: 8px;
  margin-bottom: 20px;
  font-family: 'Exo 2', sans-serif;
}

.btn-login:focus {
  border: 0;
  outline: 0;
}

.btn-login:hover {
  cursor: pointer;
  background-color: #af1f22;
}

.link {
  display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: stretch;
  align-content: stretch;
}

.link a {
  color: #cc1d20;
  text-decoration: none;
}

.link a:hover {
  color: #1da1f2;
}

::-webkit-input-placeholder {
  font-style: italic;
}
:-moz-placeholder {
  font-style: italic;  
}
::-moz-placeholder {
  font-style: italic;  
}
:-ms-input-placeholder {  
  font-style: italic; 
}