*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: 0;
}
body { 
    background-color: #e5e5e5;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'Exo 2', 'sans-serif';
    width: 100%;    
    box-sizing: border-box;
    
}

.form {
    margin: auto;
    background-color: #fff;
    width: 660px;
    align-items: center;
    padding: 130px 130px;
    border-radius: 20px;
    box-shadow: 1px 1px 3px;
    text-align: center;
}

.logo img{
    margin-bottom: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-height: 123px;
}

logo{
    margin-bottom: 30px;
}

.title{
    margin-bottom: 10px;
    text-transform: uppercase;
    font-size: 26px;
}

.title h4{
    font-size: 26px;
    text-transform: uppercase;
    color: #909090;
    font-weight: 700;
    text-align: center;
}

.input input{
    width: 100%;
    height: 46px;
    border-radius: 8px;
    margin-bottom: 15px;
    background-color: #f4f4f4;
    color: #909090;
    border: 0;
    padding: 0 15px;
    font-size: 18px;
    outline: 0;
    border: none;
}

.button button{
    width: 100%;
    height: 45px;
    border-radius: 8px;
    border: 0;
    font-size: 18px;
    text-transform: uppercase;
    background-color: #d61f22;
    color: #fff;
    margin-bottom: 20px;
    font-weight: 500;
}

.link {
    display: flex;
    justify-content: space-between;
}

.link a:hover{
    color: #d61f22;
}