.top-bar{
    height: 30px;
    background-color: #2a3e41;
    width: 100%;
}
.top-bar .icoin{
    display: flex;
    justify-content: flex-end;
    max-width: 1170px;
    align-items: center;
    height: 30px;
    margin: 0 auto;
}
.fa{
    padding-left: 20px;
    color: gray;
}
.fa:hover{
    color: white;
}
.header{
    height: 150px;
    background-color: #557c83;
    width: 100%;    
    align-items: center;
}
.khung{
    max-width: 1170px;
    align-items: center;
    margin: 0 auto;
    /* border: 1px solid red; */
    display: flex;
    height: 150px;
    justify-content: flex-end;
    
}
.logo{
    flex: 1;
}
.banner{
    flex: 2;
    width: 730px;
    height: 90px;
    /* border: 1px solid blue; */
}
.banner img{
    width: 100%;
}
.MENU{
    height: 64px;
    border-bottom: 1px solid #cccccc;
    width: 100%;
    align-items: center; 
        
}
.menu-list{
    max-width: 1170px;
    height: 64px;
    /* border:1px solid red; */
    align-items: center;
    margin: 0 auto;
    display: flex;
    color: #557c83;
    list-style-type: none;
    
}
.menu-list a{
    display: inline-block;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    margin-left: 30px;
    color: #557c83;
    text-decoration: none;
}
.menu-list a:hover{
    color: green;
}
.menu-list i{
    color: #006666;
    position: absolute;
    right: 376px;

}
.menu-list i:hover{
    color: red;
}
.line{
    max-width: 1170px;
    align-items: center;
    margin: 0 auto;
    /* border: 1px solid red; */
    display: flex;
    height: 50px;   
}
.line p{
    color: #979292;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}
.header-line{
    height: 50px;
    width: 100%;
}
.line{
    /* border:1px solid red; */
    justify-content: space-between;
}
